.photo-grid {
    display: grid;
    padding-top: 92px;
    box-sizing: border-box;
    width: calc(100% - (48px * 2));
    grid-template-columns: repeat(4, minmax(284px, 1fr));
    grid-template-rows: repeat(3, minmax(213px, 1fr));
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(4, minmax(225px, 1fr));
  }
}


@media screen and (max-width: 930px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    grid-template-rows: repeat(5, minmax(264px, 1fr));
    padding-top: 88px;
    max-width: calc(100% - (24px * 2));
  }  
}

@media screen and (max-width: 720px) {
  .photo-grid {
    grid-template-columns: repeat(1, minmax(352px, 1fr));
    grid-template-rows: repeat(6, minmax(264px, 1fr));
  }
}

@media screen and (max-width: 360px) {
  .photo-grid {
    grid-template-columns: repeat(1, minmax(288px, 1fr));
    grid-template-rows: repeat(6, minmax(216px, 1fr));
  }
}


@media screen and (max-width: 320px) {
  .photo-grid {
    gap: 10px;
    padding-top: 64px;
    width: calc(100% - (16px * 2));
  }
}