.intro__list {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  list-style-type: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 18px;
  padding-top: 33px;
  padding-left: 0;
  margin: 0;
}