.footer__copyright {
  display: flex;
  max-width: 186px;
  text-decoration: none;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  transition: opacity 0.2s ease;
}

.footer__copyright:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
  }
}