.intro {
  color: white;
  padding: 92px 0 0 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100% - (16px * 2));
    padding-left: 0;
    padding-top: 64px;
    margin: 0 auto;
  }
}

