.intro {
  color: white;
  padding: 92px 0 0 0;
  max-width: 690px;
  padding-left: 148px;
  padding-top: 92px;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100% - (16px * 2));
    padding-left: 24px;
  }
}

