.lead__caption {
  font-family: 'Inter', Arial, sans-serif;
  padding-top: 8px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}